.paralax{
    margin-top:-99px;
    margin-left:15px;
    background-image: url("imgs/hotel-main-pic.jpg");
    height: 750px;
    width: 1300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.row-content{
    border-bottom: 1px ridge;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
}

.bg-layout{
    background-color: rgba(136, 136, 136, 0.137);;
    
}
.add-shadow{
    box-shadow: 20px 20px 35px #d0d0d0,
    -20px -20px 35px white;
}
.add-border{
    border: 10px solid white;

}
.center{
    
   color:aquamarine;
   top: 50px;    
}
.img-overlay-container{
    position: relative;
    display: inline;
    
}
.img-overlay{
    position: absolute;
    left:10px;
    bottom: -125px;
    background-color: white;
}